# Byte-compiled files
__pycache__/
*.pyc

# Packaging
*.egg
*.egg-info
*.eggs
build
dist

# Unit test
.cache/
.tox/

# Autosaved files
*~

# Additional test files
# (there's a script to download them from GitHub)
tests/noto-source
